
*{ 
    padding: 0;
    margin: 0;

}

html{
   background-color: rgba(2,0,36,1);

}

body{
    background-color: rgba(2,0,36,1);
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(32,30,110,1) 44%, rgba(0,212,255,1) 96%);

}

.container{
    margin:0;
    padding: 0;
}



/*Showcase content*/
.showcase-wrapper{
    width: 100%;
    text-align: left;
    width: 100%;
    padding: 0;

    height: 800px;

    background-color: orange ;
    background-image: url('../imgs/8mountain.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: 0 20% ;

    margin-bottom: 5%;

    display: relative;
}


/*  nav*/
.empty{
    display: block;
    height: 40px;
}

.nav-wrapper{
    width: 100%;
    background-color: rgba(50, 50, 50, 0.7);

}
nav{
    /*background-color:  rgba(100,100,100,0.5)!important;*/
   width: 30%;
   margin: 0 0 0 70%;
   padding: 0 0 0 0;

}


.anchors{


    display: inline-block;
    margin-top: 1%;
    text-decoration: none;
    color: orange;
    text-transform: uppercase;
    
    padding: 3% 5%;
    font-size:1.2em;
    border-left: 2px solid rgba(200, 200, 200, 0.1);


}

.anchors:hover{
   
    background-color: rgba(150,150,150,0.6);
    color: rgba(220, 220, 220, 1.0);
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.5), 5px 5px 5px rgba(250,250,250, 0.5) inset;
    border-radius: 5px;
}

/* endd */


.site-title{
    font-size:4.5em;
    margin-bottom: 5%;
    color: orange;
    width: 80%;
    margin: 0 0 0 10%;
    padding: 6% 0 2% 0;

}

.slogan{
    
    font-size:2em;
    color: rgba(220,220,220,1);
    width: 50%;
    margin: 0 0 0 20%;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);

}

.tech-wrap{
    width: 100%;
    display: flex;

      background-color: rgba(100,100,100,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);
}

/*content wrapper*/
.content-wrapper{
    text-align: center;

    color: white;



}

.article2{
    border-left: 2px solid rgba(200, 200, 200, 0.2);
    border-right: 2px solid rgba(200, 200, 200, 0.2);
}



.content-image{
    width: 100px;
    height: 100px;

    padding: 2%;
    padding-top: 8%;
    
}
.text-wrapper {

    width: 80%;
    padding: 10% 10%;


}

.content-title{

    text-transform: uppercase;
    font-size: 1.5em;

}

.content-para{

    width: 80%;
    margin: 5% 10%;
    font-size: 1.3em;
    line-height: 1.5;


}

.contact{
    
    background-color: rgba(50, 50, 50, 0.7);
    width: 100%;
    font-size: 1.6em;

    margin-top: 18%;
}

.wrapper{
    width: 50%;
    margin: 0 0 0 30%;
    display: flex;
    padding: 2% 0;
}

.links{
    text-transform: uppercase;
}

.links:hover{
    color: orange;

}

.email{
    margin-left: 10%;
}

.links{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: normal;
    padding: 4% 0;
}



/*footer*/
footer{
    padding: 4% 0 1% 0;
    color: white;
    text-align: center;


}


@media screen and (max-width: 700px) {


    *{ 
        padding: 0;
        margin: 0;

    }

    html{
        rgba(2,0,36,1);

    }

    body{
        background-color: rgba(2,0,36,1);
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(32,30,110,1) 44%, rgba(0,212,255,1) 96%);

    }

    .container{
        margin:0;
        padding: 0;
    }

    /*Showcase content*/
    .showcase-wrapper{
        width: 100%;
        height: 300px;
        text-align: center;
        width: 100%;
        padding: 5% 0 0 0 ;
        
    }

    .site-title{
        font-size:4em;
        margin-bottom: 5%;
        color: rgba(240,240,240,1);
    }

    .slogan{
        font-size:2em;
        color: rgba(220,220,220,1);

    }

    /*content wrapper*/
    .content-wrapper{
        background-color: rgba(100,100,100,0.5);
        text-align: center;
        width: 90%;
        margin: 0 5%;
        padding: 5% 0;

        color: white;

    }

    .content-image{

    }
    .text-wrapper {

    }

    /*footer*/
    footer{
        padding: 4% 0 20% 0;
        color: white;
        text-align: center;


    }

    /* bottom nav*/
    .bottom-nav{
        background-color:  rgba(100,100,100,0.5);
        text-align: center;
        width: 100%;

        position:fixed;
        bottom: 0;
        left: 0;

        padding: 4% 0;

        margin: 0;
        
    }
    .anchors{

        display: inline-block;
        margin-right: 2%;
        color: white;
        box-shadow: 5px 5px 5px rgba(0,0,0, 0.5), 5px 5px 5px rgba(0100,100,100, 0.5) inset;
        height: 20px;
        padding: 2%;
        font-size:1.2em;
        border-radius: 4px;

    }

}
